.container {
  padding: 0;
}

.side-bar {
  width: 225px;
  background-color: #171E2D;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
  }

  .logo img {
    width: 60px;
    height: 60px;
  }

  .logo h1 {
    font-weight: 300;
    font-size: 25px;
    margin: 0 10px;
    color: white;
  }
}



.menu {
  margin: 0;
  padding: 0;
  background-color: transparent;

  .menu-item {
    list-style: none;
  }
}


.main {
  flex: 1;
  padding-left: 10px;
}