.container {
  padding: 0;
  background: #EDF2F6;
}

.header-title {
  font-size: 26px;
}

h1 {
  font-size: 26px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.side-bar {
  width: 225px;
  background-color: #171E2D;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
  }

  .logo img {
    width: 60px;
    height: 60px;
  }

  .logo h1 {
    font-weight: 300;
    font-size: 25px;
    margin: 0 10px;
    color: white;
  }
}

.navbar {
  background: white;
  padding: 10px 0;
}



.menu {
  margin: 0;
  padding: 0;
  background-color: transparent;

  .menu-item {
    list-style: none;
  }
}

.cards {
  display: flex;
  flex-direction: row;
}

.card {
  width: 320px;
  height: 195px;
}

.body {
  padding: 0;
}

.main {
  flex: 1;
  padding-left: 10px;
}